<div class="row g-4 justify-content-center">
    
    <div class="col-md-3">
        <div class="card card-menu h-100 text-center p-3">
            <div class="card-body">
                <div class="display-6 mb-3">➕</div>
                <h5 class="card-title">Ajouter</h5>
                <a th:href="@{/outils/ajouter}" class="btn btn-primary w-100">C'est parti</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-menu h-100 text-center p-3">
            <div class="card-body">
                <div class="display-6 mb-3">🔧</div>
                <h5 class="card-title">Mon Matériel</h5>
                <a th:href="@{/outils/mes-outils}" class="btn btn-outline-primary w-100">Gérer</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-menu h-100 text-center p-3">
            <div class="card-body">
                <div class="display-6 mb-3">📁</div>
                <h5 class="card-title">Catégories</h5>
                <a th:href="@{/categories}" class="btn btn-outline-primary w-100">Organiser</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-menu h-100 text-center p-3">
            <div class="card-body">
                <div class="display-6 mb-3">🤝</div>
                <h5 class="card-title">Échanges</h5>
                <a th:href="@{/outils/transactions}" class="btn btn-outline-primary w-100">Suivre</a>
            </div>
        </div>
    </div>

</div>